@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

:root {
  --bg-grey: #d3d3d3;
  --bg-dark-grey: #f5f5f5;
  --dropshadow-grey: #888888;

  /* Pallate colors variables */
  --color-dark-red: #b23232;
  --color-red: #ff4848;
  --color-pink: #ff6c6c;
  --color-dark-orange: #e59b40;
  --color-orange: #ffad48;
  --color-flesh: #ffc57e;
  --color-lime: #e5de40;
  --color-yellow: #fff748;
  --color-light-yellow: #fffa91;
  --color-green: #39cc4b;
  --color-light-green: #48ff5e;
  --color-royal-blue: #3248b2;
  --color-blue: #4867ff;
  --color-light-purple: #91a3ff;
  --color-purple: #6432b2;
  --color-violet: #8f48ff;
  --color-light-violet: #bb91ff;
  --color-black: #000000;
  --color-black-80: #323232;
  --color-black-60: #666666;
  --color-black-40: #999999;
  --color-black-20: #cccccc;
  --color-white: #ffffff;
  --color-dark-brown: #3a2119;
  --color-brown: #754233;
  --color-light-brown: #ac8d84;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-grey);
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-dark-grey);
  box-shadow: 0px 0px 8px var(--dropshadow-grey);
  width: 70vw;
  height: 70vh;
  border-radius: 25px;
  padding: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  height: 475px;
  background-color: white;
  margin-bottom: 60px;
}

.grid-cell {
  margin: 0;
  width: 17px;
  height: 17px;
  border: 1px solid var(--bg-dark-grey);
  background-color: white;
}

.bottom-content-container {
  display: flex;
  padding: 0 30px;
}

.colors-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
}

.color {
  border: 2px solid white;
  flex-direction: column;
  margin-right: 1.5em;
  width: 30px;
  height: 30px;
  border-radius: 25%;
}

.color:hover {
  border: 2px solid grey;
}

.color-dark-red {
  background-color: var(--color-dark-red);
}

.color-red {
  background-color: var(--color-red);
}

.color-pink {
  background-color: var(--color-pink);
}

.color-dark-orange {
  background-color: var(--color-dark-orange);
}

.color-orange {
  background-color: var(--color-orange);
}

.color-flesh {
  background-color: var(--color-flesh);
}

.color-lime {
  background-color: var(--color-lime);
}

.color-yellow {
  background-color: var(--color-yellow);
}

.color-light-yellow {
  background-color: var(--color-light-yellow);
}

.color-green {
  background-color: var(--color-green);
}

.color-light-green {
  background-color: var(--color-light-green);
}

.color-royal-blue {
  background-color: var(--color-royal-blue);
}

.color-blue {
  background-color: var(--color-blue);
}

.color-light-purple {
  background-color: var(--color-light-purple);
}

.color-purple {
  background-color: var(--color-purple);
}

.color-violet {
  background-color: var(--color-violet);
}

.color-light-violet {
  background-color: var(--color-light-violet);
}

.color-black {
  background-color: var(--color-black);
}

.color-black-80 {
  background-color: var(--color-black-80);
}

.color-black-60 {
  background-color: var(--color-black-60);
}

.color-black-40 {
  background-color: var(--color-black-40);
}

.color-black-20 {
  background-color: var(--color-black-20);
}

.color-white {
  background-color: var(--color-white);
}

.color-dark-brown {
  background-color: var(--color-dark-brown);
}

.color-brown {
  background-color: var(--color-brown);
}

.color-light-brown {
  background-color: var(--color-light-brown);
}

.current-color-container {
  display: flex;
  align-items: center;
}

.current-color {
  border: 2px solid white;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border-radius: 25%;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}
